/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store
.idea/
OLD/
src/textdb/manip (original).clj
src/textdb/results 4:7:20.txt
test/DATA/TESTSUITE-NEW/
f failed tests/
textdb.iml